<div class="container-fluid">
    <div class="container-fluid main-block-background">
        <div class="container">
        <div class="main-block">


            <h1> GEO Infotech </h1>

            <div class="secondary-text">
                Provides excellent courses and resources. GEO Infotech is the leading training institute for teaching
                and learning, connecting millions of students to the skills they need to succeed.
            </div>
        </div>
    </div>
    </div>
    

    <div>
        <div class="container-fluid second-block second-block-background">
                <div class="card-holder">
                    <div class="container">
                        <div class="row margin-top">
                            <div class="col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Courses</h5>
                                     
                                      <p class="card-text">Some excellent courses from variety of domains and professional trainers.</p>
                                      <button routerLink="web-course" class="btn btn-success" (click)="courseClick()">View Courses</button>
                                      
                                    </div>
                                  </div> 
                            </div>
                            <div class="col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Resources</h5>
                                     
                                      <p class="card-text">Various resources ranging from hall, classrooms and laboratory that will suit your need.</p>
                                      <button routerLink="web-resource" class="btn btn-success" (click)="resourceClick()">View Resources</button>

                                     
                                    </div>
                                  </div>
                            </div>

                     </div>
                    </div>
                    
                   
                   
                </div>
        </div>
    </div>
    

</div>